html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.container .alert{
    text-align: left;
}

.content {
    text-align: center;
    display: inline-block;
}
form{
    margin-top: 25px;
}
form button.btn span{
    padding-right: 10px;
}
.jumbotron{
    padding-left: 25px !important;
    padding-right: 25px !important;
}
@media (min-width: 768px){
    .jumbotron{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }
}
.recovery-pass{
    padding-top: 25px;
}